.button__contend{
    width: 100%;
    display: flex;
    flex-grow: 2;
}

.button{
    width: 260px;
    height: 35px;
    border-radius: .7em;
    border:none;
    margin: 0px 0px 0px 30px;
    transition: background-color .2s ease;
    cursor: pointer;
}

button::hover{
    background-color: rgb(24, 152, 232);
}