.button__contend{
    width: 100%;
    display: flex;
    flex-grow: 2;
    justify-content: center;
}

.button{
    width: 260px;
    height: 35px;
    border-radius: .7em;
    border:none;
    background-color: #4193df;
    transition: all .2s;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: rgb(21, 120, 182);
    box-shadow: 0px 3px 15px 0px rgb(138, 137, 137);
}